<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!-- Placeholder are going to be replaced -->
            <PatternLayout pattern="%style{%d{yyyy-MM-dd HH:mm:ss.SSS}}{white} %highlight{level=%-5p, app=${project.name}, version=${project.version}}, %style{class=%c}{bright,yellow}, %style{thread=(%t)}, userId=%X{userId}, traceID=%X{traceId}, %msg%n%throwable" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.springframework.security" level="INFO" />                
        <Logger name="org.flywaydb.core" level="ALL" />                
        <Root level="INFO">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>