services:
  cs-api-connector:
    image: pross/demo-case-study:latest
    build: .
    restart: unless-stopped
    ports:
      - '8080:8080'
    depends_on:
      - postgres
    environment:
      DB_PASSWORD: ${DB_PASSWORD}
      DB_USERNAME: ${DB_USERNAME}
      DB_DATABASE: ${DB_DATABASE}
      DB_PORT: ${DB_PORT}
      DB_HOST: ${DB_HOST}
      MINKA_URL_SPEC: ${MINKA_URL_SPEC}
      EXECUTION_PERIOD: ${EXECUTION_PERIOD}
      MINKA_UPDATE_URL_SPEC: ${MINKA_UPDATE_URL_SPEC}
      MINKA_DB_INITIALIZE: ${MINKA_DB_INITIALIZE}
      MINKA_INITIALIZE_URL_SPEC: ${MINKA_INITIALIZE_URL_SPEC}
    networks:
	  cs-api-connector:
	  ipv4_address: 172.20.0.4

  postgres:
    image: postgis/postgis:17-3.5-alpine
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${DB_DATABASE}
      POSTGRES_USER:  ${DB_USERNAME}
      POSTGRES_PASSWORD:  ${DB_PASSWORD}
    volumes:
     - cs-api-connector-postgres-storage:/var/lib/postgresql/data
    networks:
      cs-api-connector:
		ipv4_address: 172.20.0.5
      
  reverse:
    image: nginx
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./conf.d:/etc/nginx/conf.d
      - ./index.html:/usr/share/nginx/html
    networks:
	  cs-api-connector:
	  ipv4_address: 172.20.0.6

networks:
  cs-api-connector:
	ipam:
	  config:
	    - subnet: 172.20.0.0/24
volumes:
    cs-api-connector-postgres-storage:
      external: true
      name: cs-api-connector-postgres-storage